<ion-header>
  <ion-toolbar>
    <ion-title>Todo List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Add new todo form remains here -->
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input [(ngModel)]="newTodo.Title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input [(ngModel)]="newTodo.Description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Clock </ion-label>
    <ion-input [(ngModel)]="newTodo.Clock_in" type="time"></ion-input>
  </ion-item>

 
  <ion-button expand="block" (click)="addTodo()">Add new Activity</ion-button>

</ion-content> 
